<tr>
  <td scope="row">
    <%=
      if gist.question
        link_to(truncate(gist.question.body, length: 25), admin_question_path(gist.question))
      else
        t('.not_found')
      end
    %>
  </td>
  <td><%= link_to gist.github_id, gist.url, target: '_blank' %></td>
  <td><%= gist.user.email %></td>
</tr>
