<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<h2>
  Вы ответили правильно на <%= colored_percent(@test_passage) %> тестов.
  <%= test_complete_message(@test_passage) %>
</h2>

<p><%= link_to t('.back_tests'), tests_path %></p>
