<div class="footer">
  <p><%= current_year %>, Беглов Сергей, <%= github_url('beglov', 'test-guru') %>
    - система для создания, управления и выполнения тестов.</p>
  <p>Учебный проект в онлайн-школе <%= link_to 'Thinknetica', 'http://www.thinknetica.com/', target: '_blank' %>.</p>
</div>
