<h1>Tests</h1>

<table>
  <thead>
  <tr>
    <th>Category</th>
    <th>Title</th>
    <th>Level</th>
    <th>Author</th>
    <th>Questions</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <%= render @tests %>
  </tbody>
</table>
